* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
}

.mainContainer {
    margin: 20px;
    display: flex;
    padding: 0px 20px;
}




